
body{
    background-color: whitesmoke;
}
.App{
    /* display: flex; */
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(45, 3, 3);
    padding: 5%;
}

.stopWatch{
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.numbers{
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    margin: 1rem 0rem 1rem 0rem;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}